extends /layouts/application.pug

block content
  .row.justify-content-md-center.mt-5
    .col.text-center
      h1.display-5 Registred tasks list 
      p.lead 
        | All registered taks are displayed in this list. Only reqistred users can add the tasks
      
      +formFor(f, { url: urlFor('users'), method: 'post' })
      .containter  
        .row  
          .col
            p Filtred by:       
            +input(f, 'firstName', { id: 'form-signup-firstName', placeholder: 'First name' })
            +input(f, 'lastName', { id: 'form-signup-lastName', placeholder: 'Last name' })
          .col  
            +input(f, 'email', { type: 'email', id: 'form-signup-email', placeholder: 'Email address' })
            +input(f, 'password', { type: 'password', id: 'form-signup-password', placeholder: 'Password' })
            +submit(f)
      .row.pb-2
        a.btn.btn-outline-secondary(href="#") Add task
        a.btn.btn-outline-secondary(href="#") Add task status
      .table-responsive
        table.table.table-striped.table-sm
          thead
            tr
              th ID
              th Status
              th Task name
              th Description
              th Tags
              th Creator
              th Assigned to
          tbody
            each task in tasks
              tr
                td= task.id
                td= task.status
                td= task.name
                td= task.description
                td= task.tags
                td= task.creator
                td= task.assignedTo
