doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='icon', href='/favicon.ico')    
    title= pageTitle
    script(src="/assets/app.bundle.js")   
  body
    .d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow
      nav
        a.btn.hero-btn.font-weight-normal(href='/') Task manager
      nav.my-2.my-md-0.mr-md-3
        a.p-2.text-dark(href=urlFor('users')) Users
        a.p-2.text-dark(href='#') Tasks
      nav.ml-auto
        a.btn.btn-outline-primary(href=urlFor('newSession')) Sign in
        a.btn.btn-outline-primary(href=urlFor('newUser')) Sign up
    block content

